@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #3c006c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-color: #f5f5f5;
}

body {
  box-sizing: border-box;
  /* background-color: #c3c3c3;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ddd; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid white; /*creates padding around scroll thumb*/
}
.rc-slider-track {
  background-color: var(--primary) !important;
}
.rc-slider-track-1 {
  background-color: var(--primary) !important;
}
@media (max-width: 767px) {
  .rc-slider-track {
    background-color: white !important;
  }
  .rc-slider-track-1 {
    background-color: white !important;
  }
}
.rc-slider-handle {
  border-color: var(--primary) !important;
}
.rc-slider-handle:hover {
  border-color: var(--primary) !important;
}
.rc-slider-handle-dragging {
  border-color: var(--primary) !important;
  box-shadow: 0 0 5px 5px var(--primary) !important;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
