#app {
  height: 100%;
}
html,
body {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide-active {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.swiper-slide a img {
  object-fit: contain;
  height: 100% !important;
}

.swiper-backface-hidden .swiper-slide {
  background-color: #3c006c;
}
.swiper-slide
  .swiper-slide-visible
  .swiper-slide-fully-visible
  .swiper-slide-active {
  background-color: transparent !important;
}
.itemProduct {
  width: 100%;
  object-fit: cover;
}
.swiper-slide:has(.itemProduct) {
  background-color: transparent !important;
}
@media (min-width: 770px) {
  .itemProduct {
    width: 50%;
  }
}
